
.navbar-toggle{
      padding: 14px 14px;
}
@media(min-width:800px){
  .nav-title{
   padding: 0px 80px;
}
}

/*collapse sidebar*/
@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
body{
  margin:0 !important;
  color: #696969;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
    padding-top: 50px;
}
.navbar-fixed-top {
  border: 0;
}
.navbar-default{
      background-color:  #0079c3;
}
/*navbar buttons*/
.navbar-default .navbar-brand {
  color:#FBFAEF;
}
.navbar-default .navbar-nav>li>a {
  color:#FBFAEF;
}
.navbar-default .navbar-nav>li>a:focus {
  color:#FBFAEF;
}
.navbar-default .navbar-toggle .icon-bar{
  color:#FBFAEF;
  background-color:#FBFAEF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: rgba(1,1,1,0.0);
}

 .navbar-default .navbar-toggle:hover{
  color:#FBFAEF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color:#fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:#fff;
}
#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 300px;
  background-color: #f9f9f9;;
  position: fixed;
  height: 100%;
  z-index: 10;
  margin-top: -2px;
   overflow-y: auto;

}
.col-lg-3>#sidebar-wrapper>.nav{
  overflow-y: auto;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: #FBFAEF;
  display: block;
  text-decoration: none;
}


#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 1100px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}



a{
  color:#333;
}
a:hover{
  color:#FBFAEF;
}
.active-sidebar{
      background-color: #0079c3;
}
.active-sidebar>a{
  color:#FBFAEF;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #0079c3;
}

/*table*/
.thead{
  background:#0079c3;
      color: white;
}

.btn-primary{
  color: #FBFAEF;
background-color: #0079c3;
border-color: #0079c3;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #FBFAEF;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*edit profile*/
.control-label{
   text-align: right;
}
.form-group{
  padding-top: 10px;
}
.edit-btn{
  margin-top: 20px;
}
.form-title-row{
  padding-bottom: 20px;
}
.form-control{
  margin-bottom: 10px;
}
.edit-image{
  float: none;
  margin: 0 auto;
    width: 150px;
    height: 150px;
  border-radius: 50%;
  border: 4px solid white;
}
.upload{
  border: 1px solid #e6e6e6;
  padding: 5px;
  width:220px;
}
.nav>li>a>i{
      padding-right: 5px;
}
.dashboard-header{
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  padding-right: 0px;
  padding-left: 5px;
}
.dashboard-number{
  font-weight: 600;
}
.dashboard-header-name{
  color: #333;
      font-size: 1.4em;
      position: relative;
      min-height: 1px;
      border-bottom: 1px solid #e8e8e8;
      padding-top: 10px;
      clear: both;
      margin-bottom: 10px;
}
th{
  color: #333;
}
.sidebar-today{
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 5px;
}
.icon-dashboard{
  height: 52px;
  width: 30px;
  text-align: center;
  margin-right: 5px;
  float:left;padding-top:15px;color:#696969;
}
.resort-name{
    font-weight: 500;
    line-height: 26px;
    font-size: 24px;
    color: #333;
}
.r-review{
    font-weight: 500;
    line-height: 26px;
    padding: 0;
    font-size: 18px;
    display: inline;
    vertical-align: top;
    float: right;
    clear: both;
}
.r-rating{
  font-size:1.5em;
  color:#2f566b;
  float: right;
  clear: both;
}
@media(max-width:767px){
  .r-rating,.r-review{
    float:none;
    text-align: center;
    clear: both;
  }
  .r-title{
    text-align: center;
  }
}
@media(min-width:1300px){
  .sidebar-container{
    width: 22%;
  }
  .body-container{
    width: 78%;
  }

}
/* basic positioning */
.legend { list-style: none; text-align: center;padding-top: 10px;}
.legend li { display: inline-block;margin-right: 5px; }
.legend span { float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .juanderpool { background-color: #4daf4a; }
.legend .direct { background-color: #377eb8; }
.legend .walkin { background-color: #ff7f00; }


.tab-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: white;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}
input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 2) * 0);
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 2) * 1);
}

input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

.label-header{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #00bcd4;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
}
.label-header:hover{
  color: #fff;
}
.slide {
  background: #2962FF;
  width: calc(100% / 2);
  height: 4px;
  margin-top: -5px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  line-height: 130%;
  display: none;
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
  }
}
.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.follow i {
  margin-right: 20px;
  -webkit-transition: margin-right 0.2s ease;
  transition: margin-right 0.2s ease;
}
.follow:hover {
  width: 134px;
}
.follow:hover i {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}
